In [ ]:
import pandas as pd

In [ ]:
movies =pd.read_clipboard()

movies

In [26]:
movies=pd.read_csv(r'myMovies.csv')

In [27]:
movies

,id,name,industry,genre,language,duration,rarting
0,1,Baahubali,Tollywood,Action,Telegu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,Comedy,English,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [28]:
movies['duration'].argmax()

7

In [29]:
movies['name'][7]

'Intersteller'

In [30]:
# 1. Find the longest movie name?

In [31]:
movies['name'][movies['duration'].argmax()]

'Intersteller'

In [32]:
# 2. Find the number of movies whon got 10 star rating

In [33]:
movies['name'][movies['rarting']==10]

2    Uri-The Surgical Strike
3                       DDLJ
Name: name, dtype: object

In [34]:
len(movies['name'][movies['rarting']==10])

2

In [35]:
sum( movies['rarting']==10)

2

In [36]:
# 3. How many industries are there

In [37]:
movies['industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: industry, dtype: int64

In [38]:
type(movies['industry'].value_counts())

pandas.core.series.Series

# Best

In [39]:
len(movies['industry'].value_counts())

3

In [40]:
movies['industry'].nunique()

3

In [41]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

#### 4. Find Least Liked Comedy Movie?

In [42]:
movies[movies['genre']=='Comedy']['rarting']

11    6.0
12    7.0
13    9.0
Name: rarting, dtype: float64

In [43]:
movies['name'][movies[movies['genre']=='Comedy']['rarting'].idxmin()]

'Housefull'

#### 5. Lonegst english Movie Name

In [44]:
movies['name'][movies[movies['language']=='English']['duration'].idxmax()]

'Intersteller'

### 6. What is the Genre of interstellar

In [45]:
movies['genre'][movies['name']=='Intersteller']

7    SciFi
Name: genre, dtype: object

In [46]:
movies['genre'][movies['name']=='Intersteller'].values[0]

'SciFi'

In [47]:
movies['name']

0                   Baahubali
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                  Housefull
12               The Dictator
13                 Hera Pheri
14                     Sholay
Name: name, dtype: object

In [48]:
[movies['name'].str.lower()

SyntaxError: unexpected EOF while parsing (1214181049.py, line 1)

In [49]:
movies['genre'][movies['name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [50]:
movies['name'].str.get_dummies()

,Avengers-End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Housefull,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,Uri-The Surgical Strike,Yeh Jawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [51]:
movies['genre'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        0       0      0           0         1      0
4        1       0      0           0         0      0
5        0       0      0           0         0      1
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       0      1           0         0      0

### names.index('e')

In [52]:
movies['name'].str.split('e').str.join('--+--')

0                              Baahubali
1                             Brahmastra
2        Uri-Th--+-- Surgical Strik--+--
3                                   DDLJ
4          Av--+--ng--+--rs-End Gam--+--
5                          T--+--n--+--t
6                                  Major
7               Int--+--rst--+--ll--+--r
8                                Gravity
9                                Titanic
10    Y--+--h Jawani Hai D--+----+--wani
11                         Hous--+--full
12                      Th--+-- Dictator
13                    H--+--ra Ph--+--ri
14                                Sholay
Name: name, dtype: object

In [53]:
movies['name'].str.strip()

0                   Baahubali
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                  Housefull
12               The Dictator
13                 Hera Pheri
14                     Sholay
Name: name, dtype: object

In [54]:
movies['name'].str.strip('i')

0                    Baahubal
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      Yeh Jawani Hai Deewan
11                  Housefull
12               The Dictator
13                  Hera Pher
14                     Sholay
Name: name, dtype: object

In [55]:
movies['genre'][movies['name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

## 7. What is the average duration og each genre

In [56]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [57]:
movies['genre'].nunique()

6

In [58]:
movies['genre'].()

SyntaxError: invalid syntax (3118800665.py, line 1)

In [59]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mystereous
Romantic
SciFi
Drama
Comedy

In [60]:
for genre in movies['genre'].unique():
    print(genre,movies[movies['genre']==genre]['duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

# groupby

In [61]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFi         156.666667
Name: duration, dtype: float64

In [62]:
movies.groupby(['genre','industry'])['duration'].mean()

genre       industry
Action      Bollywood    130.000000
            Hollywood    180.000000
            Tollywood    170.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    150.000000
            Hollywood    180.000000
Mystereous  Bollywood    180.000000
Romantic    Bollywood    150.000000
SciFi       Hollywood    156.666667
Name: duration, dtype: float64

In [63]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Bollywood  Action        130.000000
           Comedy        145.000000
           Drama         150.000000
           Mystereous    180.000000
           Romantic      150.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: duration, dtype: float64

# describe function

In [64]:
movies.describe()

              id    duration    rarting
count  15.000000   15.000000  15.000000
mean    8.000000  153.333333   7.833333
std     4.472136   22.253946   1.718249
min     1.000000  120.000000   5.000000
25%     4.500000  140.000000   6.500000
50%     8.000000  150.000000   8.500000
75%    11.500000  175.000000   9.000000
max    15.000000  190.000000  10.000000

In [65]:
movies.head()

,id,name,industry,genre,language,duration,rarting
0,1,Baahubali,Tollywood,Action,Telegu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Hollywood,Action,English,180,9.0

In [68]:
movies=pd.read_csv(r'myMovies.csv',index_col=0)

In [67]:
movies.drop(['id'],axis=1,inplace=True)

KeyError: "['id'] not found in axis"

In [69]:
movies.describe()

         duration    rarting
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [73]:
movies.describe(include='all')

             name   industry   genre language    duration    rarting
count          15         15      15       15   15.000000  15.000000
unique         15          3       6        3         NaN        NaN
top     Baahubali  Bollywood  Action    Hindi         NaN        NaN
freq            1          8       4        7         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.833333
std           NaN        NaN     NaN      NaN   22.253946   1.718249
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   6.500000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [74]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rarting   15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [77]:
movies.groupby('industry').describe().T

industry         Bollywood   Hollywood  Tollywood
duration count    8.000000    6.000000        1.0
         mean   147.500000  158.333333      170.0
         std     16.690459   29.268869        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  135.000000      170.0
         50%    150.000000  165.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
rarting  count    8.000000    6.000000        1.0
         mean     7.687500    7.750000        9.5
         std      2.086307    1.254990        NaN
         min      5.000000    6.000000        9.5
         25%      5.750000    7.000000        9.5
         50%      8.250000    7.750000        9.5
         75%      9.250000    8.875000        9.5
         max     10.000000    9.000000        9.5

In [79]:
movies.groupby(['genre','industry']).describe().T

genre               Action                          Comedy            \
industry         Bollywood Hollywood Tollywood   Bollywood Hollywood
duration count    2.000000       1.0       1.0    2.000000       1.0
         mean   130.000000     180.0     170.0  145.000000     120.0
         std     14.142136       NaN       NaN    7.071068       NaN
         min    120.000000     180.0     170.0  140.000000     120.0
         25%    125.000000     180.0     170.0  142.500000     120.0
         50%    130.000000     180.0     170.0  145.000000     120.0
         75%    135.000000     180.0     170.0  147.500000     120.0
         max    140.000000     180.0     170.0  150.000000     120.0
rarting  count    2.000000       1.0       1.0    2.000000       1.0
         mean     9.000000       9.0       9.5    7.500000       7.0
         std      1.414214       NaN       NaN    2.121320       NaN
         min      8.000000       9.0       9.5    6.000000       7.0
         25%      8.500000       9.0       9.5    6.750000       7.0
         50%      9.000000       9.0       9.5    7.500000       7.0
         75%      9.500000       9.0       9.5    8.250000       7.0
         max     10.000000       9.0       9.5    9.000000       7.0

genre              Drama           Mystereous    Romantic       SciFi
industry       Bollywood Hollywood  Bollywood   Bollywood   Hollywood
duration count       1.0       1.0        1.0    2.000000    3.000000
         mean      150.0     180.0      180.0  150.000000  156.666667
         std         NaN       NaN        NaN    0.000000   30.550505
         min       150.0     180.0      180.0  150.000000  130.000000
         25%       150.0     180.0      180.0  150.000000  140.000000
         50%       150.0     180.0      180.0  150.000000  150.000000
         75%       150.0     180.0      180.0  150.000000  170.000000
         max       150.0     180.0      180.0  150.000000  190.000000
rarting  count       1.0       1.0        1.0    2.000000    3.000000
         mean        8.5       9.0        5.0    7.500000    7.166667
         std         NaN       NaN        NaN    3.535534    1.258306
         min         8.5       9.0        5.0    5.000000    6.000000
         25%         8.5       9.0        5.0    6.250000    6.500000
         50%         8.5       9.0        5.0    7.500000    7.000000
         75%         8.5       9.0        5.0    8.750000    7.750000
         max         8.5       9.0        5.0   10.000000    8.500000

## 8. Average rating each industry

In [81]:
movies.groupby('industry')['rarting'].mean()

industry
Bollywood    7.6875
Hollywood    7.7500
Tollywood    9.5000
Name: rarting, dtype: float64

## 9. Average rating of romantic movies industry wise

In [83]:
movies[movies['genre'].str.lower()=='romantic'].groupby('industry')['rarting'].mean()

industry
Bollywood    7.5
Name: rarting, dtype: float64

## 10. List down all the english movies with their respective rating in descending order

In [86]:
movies[movies['language'].str.lower()=='english'][['name','rarting']]

                 name  rarting
id
5   Avengers-End Game      9.0
6               Tenet      8.5
8        Intersteller      7.0
9             Gravity      6.0
10            Titanic      9.0
12          Housefull      6.0
13       The Dictator      7.0

In [87]:
movies[movies['language'].str.lower()=='english'][['name','rarting']].sort_values(by='rarting',ascending=False)

                 name  rarting
id
5   Avengers-End Game      9.0
10            Titanic      9.0
6               Tenet      8.5
8        Intersteller      7.0
13       The Dictator      7.0
9             Gravity      6.0
12          Housefull      6.0