In [1]:
import pandas as pd

In [2]:
movies =pd.read_clipboard()

movies

In [3]:
movies=pd.read_csv(r'myMovies.csv')

In [4]:
movies

,id,name,industry,genre,language,duration,rarting
0,1,Baahubali,Tollywood,Action,Telegu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,Uri-The Surgical Strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,Avengers-End Game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Hollywood,SciFi,English,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Housefull,Bollywood,Comedy,English,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [5]:
movies['duration'].argmax()

7

In [6]:
movies['name'][7]

'Intersteller'

In [7]:
# 1. Find the longest movie name?

In [8]:
movies['name'][movies['duration'].argmax()]

'Intersteller'

In [9]:
# 2. Find the number of movies whon got 10 star rating

In [10]:
movies['name'][movies['rarting']==10]

2    Uri-The Surgical Strike
3                       DDLJ
Name: name, dtype: object

In [11]:
len(movies['name'][movies['rarting']==10])

2

In [12]:
sum( movies['rarting']==10)

2

In [13]:
# 3. How many industries are there

In [14]:
movies['industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: industry, dtype: int64

In [15]:
type(movies['industry'].value_counts())

pandas.core.series.Series

# Best

In [16]:
len(movies['industry'].value_counts())

3

In [17]:
movies['industry'].nunique()

3

In [18]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

#### 4. Find Least Liked Comedy Movie?

In [19]:
movies[movies['genre']=='Comedy']['rarting']

11    6.0
12    7.0
13    9.0
Name: rarting, dtype: float64

In [20]:
movies['name'][movies[movies['genre']=='Comedy']['rarting'].idxmin()]

'Housefull'

#### 5. Lonegst english Movie Name

In [21]:
movies['name'][movies[movies['language']=='English']['duration'].idxmax()]

'Intersteller'

### 6. What is the Genre of interstellar

In [22]:
movies['genre'][movies['name']=='Intersteller']

7    SciFi
Name: genre, dtype: object

In [23]:
movies['genre'][movies['name']=='Intersteller'].values[0]

'SciFi'

In [24]:
movies['name']

0                   Baahubali
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                  Housefull
12               The Dictator
13                 Hera Pheri
14                     Sholay
Name: name, dtype: object

In [25]:
[movies['name'].str.lower()

SyntaxError: unexpected EOF while parsing (1214181049.py, line 1)

In [26]:
movies['genre'][movies['name'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [33]:
movies['name'].str.get_dummies()

,Avengers-End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Housefull,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,Uri-The Surgical Strike,Yeh Jawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [34]:
movies['genre'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        0       0      0           0         1      0
4        1       0      0           0         0      0
5        0       0      0           0         0      1
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       0      1           0         0      0

### names.index('e')

In [37]:
movies['name'].str.split('e').str.join('--+--')

0                              Baahubali
1                             Brahmastra
2        Uri-Th--+-- Surgical Strik--+--
3                                   DDLJ
4          Av--+--ng--+--rs-End Gam--+--
5                          T--+--n--+--t
6                                  Major
7               Int--+--rst--+--ll--+--r
8                                Gravity
9                                Titanic
10    Y--+--h Jawani Hai D--+----+--wani
11                         Hous--+--full
12                      Th--+-- Dictator
13                    H--+--ra Ph--+--ri
14                                Sholay
Name: name, dtype: object

In [38]:
movies['name'].str.strip()

0                   Baahubali
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                  Housefull
12               The Dictator
13                 Hera Pheri
14                     Sholay
Name: name, dtype: object

In [39]:
movies['name'].str.strip('i')

0                    Baahubal
1                  Brahmastra
2     Uri-The Surgical Strike
3                        DDLJ
4           Avengers-End Game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10      Yeh Jawani Hai Deewan
11                  Housefull
12               The Dictator
13                  Hera Pher
14                     Sholay
Name: name, dtype: object

In [41]:
movies['genre'][movies['name'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

## 7. What is the average duration og each genre

In [42]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [43]:
movies['genre'].nunique()

6

In [44]:
movies['genre'].()

SyntaxError: invalid syntax (3118800665.py, line 1)

In [45]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mystereous
Romantic
SciFi
Drama
Comedy

In [50]:
for genre in movies['genre'].unique():
    print(genre,movies[movies['genre']==genre]['duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

# groupby

In [51]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFi         156.666667
Name: duration, dtype: float64

In [52]:
movies.groupby(['genre','industry'])['duration'].mean()

genre       industry
Action      Bollywood    130.000000
            Hollywood    180.000000
            Tollywood    170.000000
Comedy      Bollywood    145.000000
            Hollywood    120.000000
Drama       Bollywood    150.000000
            Hollywood    180.000000
Mystereous  Bollywood    180.000000
Romantic    Bollywood    150.000000
SciFi       Hollywood    156.666667
Name: duration, dtype: float64

In [56]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Bollywood  Action        130.000000
           Comedy        145.000000
           Drama         150.000000
           Mystereous    180.000000
           Romantic      150.000000
Hollywood  Action        180.000000
           Comedy        120.000000
           Drama         180.000000
           SciFi         156.666667
Tollywood  Action        170.000000
Name: duration, dtype: float64

# describe function

In [55]:
movies.describe()

              id    duration    rarting
count  15.000000   15.000000  15.000000
mean    8.000000  153.333333   7.833333
std     4.472136   22.253946   1.718249
min     1.000000  120.000000   5.000000
25%     4.500000  140.000000   6.500000
50%     8.000000  150.000000   8.500000
75%    11.500000  175.000000   9.000000
max    15.000000  190.000000  10.000000